<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="product-item(p)" class="product-item">

		<div class="product-image">
			<div class="badge-new" th:if="${p.isNew}">NEW</div>

			<a th:href="@{/product/{id}(id=${p.id})}"> <th:block
					th:if="${not #lists.isEmpty(p.productColors)}">
					<th:block th:with="firstColor=${p.productColors[0]}">
						<img th:if="${not #lists.isEmpty(firstColor.images)}"
							th:src="@{'/uploads/' + ${firstColor.images[0].imageUrl}}"
							class="img-main">
						<img th:if="${firstColor.images.size() > 1}"
							th:src="@{'/uploads/' + ${firstColor.images[1].imageUrl}}"
							class="img-hover">
						<img th:if="${firstColor.images.size() == 1}"
							th:src="@{'/uploads/' + ${firstColor.images[0].imageUrl}}"
							class="img-hover">
					</th:block>
				</th:block> <img th:if="${#lists.isEmpty(p.productColors)}"
				src="https://via.placeholder.com/300x450?text=No+Image"
				class="img-main">
			</a>
		</div>

		<div class="product-info">

			<div class="info-row-1">
				<div class="list-colors">
					<th:block th:if="${not #lists.isEmpty(p.productColors)}">
						<span th:each="pc, iter : ${p.productColors}"
							th:if="${pc.isActive}" class="color-dot"
							th:classappend="${iter.index == 0} ? 'active'"
							th:style="'background-color:' + ${pc.color.hexCode}"
							th:title="${pc.color.name}"> </span>
					</th:block>
				</div>

				<button class="btn-wishlist">
					<i class="far fa-heart"></i>
				</button>
			</div>

			<div class="product-title">
				<a th:href="@{/product/{id}(id=${p.id})}" th:text="${p.name}">
					Tên sản phẩm </a>
			</div>

			<div class="info-row-bottom" style="position: relative;">

				<div class="product-price">
					<span
						th:text="${#numbers.formatDecimal(p.basePrice, 0, 'POINT', 0, 'COMMA')} + 'đ'">
						990.000đ </span>
				</div>

				<a href="javascript:void(0)" class="btn-bag-black"
					th:onclick="'toggleSizeList(' + ${p.id} + ', event)'"> <i
					class="fas fa-shopping-bag"></i>
				</a>

				<div th:id="'size-list-' + ${p.id}" class="quick-size-popup">
					<ul th:if="${not #lists.isEmpty(p.productColors)}">

						<li th:each="variant : ${p.productColors[0].variants}"
							th:if="${variant.stock > 0}" th:text="${variant.size.name}"
							th:onclick="'quickAddToCart(' + ${variant.id} + ')'">S</li>

						<li th:if="${#lists.isEmpty(p.productColors[0].variants)}"
							style="color: #999; cursor: default; font-size: 12px;">Hết</li>
					</ul>
				</div>

			</div>

		</div>
	</div>

</body>
</html>