<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/layout}">
<head>
<title>Trang chủ - IVY moda</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="container-ivy mb-5">
			<div id="homeCarousel" class="carousel slide ivy-banner-wrapper" data-ride="carousel" data-interval="3000">
				<ol class="carousel-indicators">
					<li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#homeCarousel" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img th:src="@{/client/img/banner-1.jpg}" class="d-block w-100" alt="Banner 1">
					</div>
					<div class="carousel-item">
						<img th:src="@{/client/img/banner-2.jpg}" class="d-block w-100" alt="Banner 2">
					</div>
				</div>
				<a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev"> 
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a> 
                <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next"> 
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
		</div>

		<div class="container-ivy" style="margin-top: 50px;">

			<div class="ivy-section-header">
				<h3 class="ivy-section-title">NEW ARRIVAL</h3>
				<div class="d-flex justify-content-center">
					<a href="javascript:void(0)" class="ivy-tab-item active" onclick="switchTab('women', event)">IVY moda</a> 
                    <a href="javascript:void(0)" class="ivy-tab-item" onclick="switchTab('men', event)">Metagent</a>
				</div>
			</div>

			<div id="tab-women" class="product-tab-content">
				<div class="owl-carousel owl-theme product-slider">
					<div th:each="p : ${womenProducts}">
						<div th:replace="~{client/fragments/product-card :: product-item(p=${p})}"></div>
					</div>
				</div>
				<div class="text-center mt-4">
					<a th:href="@{/new-arrival?gender=women}" class="btn-ivy-see-all">Xem tất cả</a>
				</div>
			</div>

			<div id="tab-men" class="product-tab-content" style="display: none;">
				<div class="owl-carousel owl-theme product-slider">
					<div th:each="p : ${menProducts}">
						<div th:replace="~{client/fragments/product-card :: product-item(p=${p})}"></div>
					</div>
				</div>
				<div class="text-center mt-4">
					<a th:href="@{/new-arrival?gender=men}" class="btn-ivy-see-all">Xem tất cả</a>
				</div>
			</div>

		</div>
	</div>

	<th:block layout:fragment="pageScripts">
		<script>
			$(document).ready(function() {
				// Kích hoạt Owl Carousel cho cả 2 tab
				var owlOptions = {
					loop : false,
					margin : 20,
					nav : true,
					dots : false,
					autoplay : false,
					navText : ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>" ],
					responsive : {
						0 : { items : 2 },
						600 : { items : 3 },
						1000 : { items : 5 }
					}
				};
				
				// Khởi tạo slider ngay lập tức
				$(".product-slider").owlCarousel(owlOptions);
			});

			function switchTab(gender, event) {
				// 1. Ẩn tất cả tab & Bỏ active ở tiêu đề
				$('.product-tab-content').hide();
				$('.ivy-tab-item').removeClass('active');
				
				// 2. Hiện tab được chọn & Thêm active
				var selectedTab = $('#tab-' + gender);
				selectedTab.show();
				
				// 3. Quan trọng: Refresh lại Slider của tab vừa hiện ra
				// (Tránh lỗi slider bị vỡ kích thước khi chuyển từ ẩn sang hiện)
				selectedTab.find('.product-slider').trigger('refresh.owl.carousel');
				
				// 4. Thêm class active cho nút vừa bấm
				$(event.target).addClass('active');
			}
		</script>
	</th:block>

</body>
</html>